DISCORD_TOKEN=buraya_token_gelecek
GEMINI_API_KEY=buraya_api_key_gelecek
CEK_DISCORD_ID=sahip_id
KAYIT_KANALI_ID=0
TOPLULUK_ROLU_ID=0
ROLALMA_KANALI_ID=0
MODERATOR_ROLU_ID=0
TICKET_CATEGORY_ID=0
TICKET_KANALI_ID=0
KAYITSIZ_ROLE_ID=0
WELCOME_CHANNEL_ID=0
ADMIN_COMMAND_CHANNEL_ID=0
ANNOUNCEMENT_CHANNEL_ID=0
EVENT_COUNTER_CHANNEL_ID=0
ADMIN_LOG_CHANNEL_ID=0
STEAM_API_KEY = 0
LAVALINK_URL=http://127.0.0.1:2333
LAVALINK_PASSWORD=youshallnotpass
